#Telosys-Tools properties
#Thu Apr 03 19:26:02 CEST 2014
WEB=src/main/webapp
ENTITY_PKG=org.demo.bean
ProjectVariable.PROJECT_NAME=bookstore-spring
ProjectVariable.MAVEN_ARTIFACT_ID=bookstore-spring
TEST_SRC=src/test/java
RES=src/main/resources
DOC=doc
DownloadsFolder=TelosysTools/downloads
TemplatesFolder=TelosysTools/templates
ROOT_PKG=org.demo
LibrariesFolder=TelosysTools/lib
SRC=src/main/java
RepositoriesFolder=TelosysTools
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=1.0
ProjectVariable.MAVEN_GROUP_ID=org.demo.bookstore
TMP=tmp
