#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

# Static resources
resources  ;  ;  ;  ; R

# Maven
pom.xml                      ; pom_web.xml                  ;                                 ; maven/pom_web_xml.vm                    ; 1
pom_dependencies_web.txt     ; pom_dependencies_web.txt     ;                                 ; maven/pom_dependencies_web_txt.vm       ; 1
pom_dependencies_common.txt  ; pom_dependencies_common.txt  ;                                 ; maven/pom_dependencies_common_txt.vm    ; 1

# Test
Mock values              ; MockValues.java                ; ${TEST_SRC}/${ROOT_PKG}/test ; test/MockValues.vm                 ; 1
Entity Factory for tests ; ${BEANNAME}FactoryForTest.java ; ${TEST_SRC}/${ROOT_PKG}/test ; test/ENTITY_FactoryForTest_java.vm ; *

# Web - configuration
web.xml             ; web.xml                   ; ${WEB}/WEB-INF                  ; web_config/web_xml.vm                  ; 1

# Web - Common 
AbstractController  ; AbstractController.java   ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/AbstractController_java.vm  ; 1
FormMode            ; FormMode.java             ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/FormMode_java.vm            ; 1
ListItem            ; ListItem.java             ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/ListItem_java.vm            ; 1
Message             ; Message.java              ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/Message_java.vm             ; 1
MessageHelper       ; MessageHelper.java        ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/MessageHelper_java.vm       ; 1
MessageType         ; MessageType.java          ; ${SRC}/${ROOT_PKG}/web/common   ; web_common/MessageType_java.vm         ; 1

# Spring configuration files
Spring : spring-webmvc.xml       ; spring-webmvc.xml       ; ${WEB}/WEB-INF         ; spring_conf/spring-webmvc_xml.vm      ; 1
Spring : spring-webmvc-rest.xml  ; spring-webmvc-rest.xml  ; ${WEB}/WEB-INF         ; spring_conf/spring-webmvc-rest_xml.vm ; 1

# Messages
messages              ; messages.properties           ; ${WEB}/WEB-INF/i18n    ; message/messages.vm          ; 1
messages_fr_FR        ; messages_fr_FR.properties     ; ${WEB}/WEB-INF/i18n    ; message/messages_fr_FR.vm    ; 1

# Bean 
Entity web bean     ; ${BEANNAME}.java           ; ${SRC}/${ENTITY_PKG}            ; web_bean/ENTITY_web_bean_java.vm      ; *
Entity ListItem     ; ${BEANNAME}ListItem.java   ; ${SRC}/${ROOT_PKG}/web/listitem ; web_listitem/ENTITY_ListItem_java.vm  ; *

# Spring MVC 
Entity Controller   ; ${BEANNAME}Controller.java ; ${SRC}/${ROOT_PKG}/web/controller    ; web_controller/ENTITY_Controller_java.vm ; *
Entity Controller Test   ; ${BEANNAME}ControllerTest.java ; ${TEST_SRC}/${ROOT_PKG}/web/controller    ; web_controller/ENTITY_ControllerTest_java.vm ; *
index.jspx          ; index.jspx                 ; ${WEB}/WEB-INF/views                 ; web_view/index_jspx.vm                   ; 1
Entity views.xml    ; views.xml                  ; ${WEB}/WEB-INF/views/${BEANNAME_LC}  ; web_view/ENTITY_views_xml.vm             ; *
Entity JSP form     ; ${BEANNAME_LC}_form.jspx   ; ${WEB}/WEB-INF/views/${BEANNAME_LC}  ; web_view/ENTITY_form_jspx.vm             ; *
Entity JSP list     ; ${BEANNAME_LC}_list.jspx   ; ${WEB}/WEB-INF/views/${BEANNAME_LC}  ; web_view/ENTITY_list_jspx.vm             ; *
Type conversion     ; ConversionServiceFactoryBean.java ; ${SRC}/${ROOT_PKG}/web/convert    ; web_convert/ConversionServiceFactoryBean_java.vm ; 1

# REST
Rest Entity Controller   ; ${BEANNAME}RestController.java             ; ${SRC}/${ROOT_PKG}/rest/controller    ; rest_controller/ENTITY_Rest_Controller_java.vm ; *
Rest Exception Handler   ; GlobalRestControllerExceptionHandler.java  ; ${SRC}/${ROOT_PKG}/rest/common        ; rest_common/GlobalRestControllerExceptionHandler_java.vm ; 1
Rest CORS Filter         ; CORSFilter.java                            ; ${SRC}/${ROOT_PKG}/rest/common        ; rest_common/CORSFilter_java.vm ; 1

# Business Layer - Services
Business Service interface ; ${BEANNAME}Service.java         ; ${SRC}/${ROOT_PKG}/business/service           ; business/service_interface.vm			; *


# Tagx
# ( Now is a resource )Message.tagx			; message.tagx					; ${WEB}/WEB-INF/tags/util	; tags/message_tagx.vm			; 1

# i18n messages
# ( Now is a resource ) application.vm			; application.properties		; ${WEB}/WEB-INF/i18n		; message/application.vm		; *
# ( Now is a resource ) application_fr_FR.vm	; application_fr_FR.properties	; ${WEB}/WEB-INF/i18n		; message/application_fr_FR.vm	; *



